.wrapperForm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background: url(../../assets/images/background-login.webp) no-repeat center;
	background-size: cover;
}

.namePage {
	text-align: center;
}

.optionRegister {
	margin-left: 1rem;
}
